@model OrdersViewModel
@using Komod.Web.Models.OrderItemModels
@using Komod.Web.Code
@using Komod.Web.Models

@{
    ViewData["Title"] = "Заказы";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<div class="container-fluid">
    <div class="fade-in">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header"><h1>Заказы</h1></div>
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col-lg-9">
                                <form asp-controller="OrderAdmin" asp-action="Orders" method="get" class="form-inline">
                                    <div class="form-group mb-0 mr-3">
                                        <select name="sortType" id="sortType" class="form-control" data-sortType="@ViewBag.SortType">
                                            <option id="sortType-0" value="0">По дате добавления</option>
                                            <option id="sortType-1" value="1">По дате добавления (в обратном порядке)</option>
                                            <option id="sortType-4" value="4">По названию</option>
                                            <option id="sortType-5" value="5">По названию  (в обратном порядке)</option>
                                        </select>
                                    </div>
                                    <div class="form-group mb-0">
                                        <input type="text" name="searchString" class="form-control mr-3 inputSearch" placeholder="Поиск..." />
                                        <button type="submit" class="btn btn-dark btn-pill btn-sm btnSearch">
                                            <i class="c-icon cil-search"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <table class="table table-responsive-sm table-bordered table-striped table-sm">
                            <thead>
                                <tr>
                                    <th>Номер заказа</th>
                                    <th>Дата добавления</th>
                                    <th>Имя пользователя</th>
                                    <th>Статус заказа</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Orders)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.OrderNumber)</td>
                                        <td>@Html.DisplayFor(modelItem => item.AddedDate)</td>
                                        <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.OrderStatusName)</td>
                                        <td>
                                            <div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
                                                <a data-toggle="modal" href="#" data-id="@item.Id" data-target="#modal-action-order" class="btn btn-dark orderInfoModal">
                                                    <i class="c-icon cil-info"></i>
                                                </a>
                                                @if (item.OrderStatusName == "Обрабатывается")
                                                {
                                                    <form asp-action="ConfirmOrder" asp-controller="OrderAdmin" method="post" id="confirmOrder-@item.Id" asp-route-orderId="@item.Id" asp-route-returnurl="@ViewBag.ReturnUrl" style="display:none">
                                                    </form>
                                                    <a class="btn btn-warning" href="javascript:{}" onclick="document.getElementById('confirmOrder-@item.Id').submit(); return false;">
                                                        Подтвердить
                                                    </a>
                                                    <form asp-action="CancelOrder" asp-controller="OrderAdmin" method="post" id="cancelOrder-@item.Id" asp-route-orderId="@item.Id" asp-route-returnurl="@ViewBag.ReturnUrl" style="display:none">
                                                    </form>
                                                    <a class="btn btn-danger" href="javascript:{}" onclick="document.getElementById('cancelOrder-@item.Id').submit(); return false;">
                                                        Отмена
                                                    </a>
                                                }
                                                @if (item.OrderStatusName == "Подтвержден")
                                                {
                                                    <form asp-action="CloseOrder" asp-controller="OrderAdmin" method="post" id="closeOrder-@item.Id" asp-route-orderId="@item.Id" asp-route-returnurl="@ViewBag.ReturnUrl" style="display:none">
                                                    </form>
                                                    @if (item.DeliveryMethodName == "Доставка по РФ")
                                                    {
                                                        <a data-toggle="modal" href="#" data-id="@item.Id" data-target="#modal-action-order" class="btn btn-dark orderChangeDeliveryPriceModal">
                                                            Изменить цену
                                                        </a>
                                                    }
                                                    <a class="btn btn-success" href="javascript:{}" onclick="document.getElementById('closeOrder-@item.Id').submit(); return false;">
                                                        Выполнен
                                                    </a>
                                                    <form asp-action="CancelOrder" asp-controller="OrderAdmin" method="post" id="cancelOrder-@item.Id" asp-route-orderId="@item.Id" asp-route-returnurl="@ViewBag.ReturnUrl" style="display:none">
                                                    </form>
                                                    <a class="btn btn-danger" href="javascript:{}" onclick="document.getElementById('cancelOrder-@item.Id').submit(); return false;">
                                                        Отмена
                                                    </a>
                                                }
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <nav>
                            <ul class="pagination">
                                @if (Model.PageViewModel.HasPreviousPage)
                                {
                                    <li class="page-item"><a class="page-link" asp-controller="OrderAdmin" asp-action="Orders" asp-route-page="@(Model.PageViewModel.PageNumber - 1)">Назад</a></li>
                                }
                                @if ((Model.PageViewModel.PageNumber - 2) > 0)
                                {
                                    string fp = "";
                                    @if (Model.PageViewModel.PageNumber - 2 > 1)
                                    {
                                        fp = "...";
                                    }
                                    <li class="page-item"><a class="page-link" asp-controller="OrderAdmin" asp-action="Orders">1 @fp</a></li>
                                }


                                @if (Model.PageViewModel.HasPreviousPage)
                                {
                                    <li class="page-item">
                                        <a class="page-link" asp-controller="OrderAdmin" asp-action="Orders" asp-route-page="@(Model.PageViewModel.PageNumber - 1)">
                                            @(Model.PageViewModel.PageNumber - 1)
                                        </a>
                                    </li>
                                }
                                <li class="page-item active">
                                    <a class="page-link" asp-controller="OrderAdmin" asp-action="Orders" asp-route-page="@Model.PageViewModel.PageNumber">
                                        @Model.PageViewModel.PageNumber
                                    </a>
                                </li>
                                @if (Model.PageViewModel.HasNextPage)
                                {
                                    <li class="page-item">
                                        <a class="page-link" asp-controller="OrderAdmin" asp-action="Orders" asp-route-page="@(Model.PageViewModel.PageNumber + 1)">
                                            @(Model.PageViewModel.PageNumber + 1)
                                        </a>
                                    </li>
                                }

                                @if ((Model.PageViewModel.PageNumber + 1) < Model.PageViewModel.TotalPages)
                                {
                                    string fp = "";
                                    @if (Model.PageViewModel.PageNumber + 2 < Model.PageViewModel.TotalPages)
                                    {
                                        fp = "...";
                                    }
                                    <li class="page-item">
                                        <a class="page-link" asp-controller="OrderAdmin" asp-action="Orders" asp-route-page="@Model.PageViewModel.TotalPages">
                                            @fp @Model.PageViewModel.TotalPages
                                        </a>
                                    </li>
                                }
                                @if (Model.PageViewModel.HasNextPage)
                                {
                                    <li class="page-item">
                                        <a class="page-link" asp-controller="OrderAdmin" asp-action="Orders" asp-route-page="@(Model.PageViewModel.PageNumber + 1)">
                                            Вперед
                                        </a>
                                    </li>
                                }
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_Modal", new BootstrapModel { ID = "modal-action-order", AreaLabeledId = "modal-action-order-label", Size = ModalSize.Large })

@section scripts
    {
    <script>
        $('.orderInfoModal').click(function (e) {
            e.preventDefault();
            var OrderId = $(this).attr("data-id");
            $('#modal-content').load('@Url.Action("OrderInfo", "OrderAdmin")?orderId=' + encodeURIComponent(OrderId));
        });
        $('.orderChangeDeliveryPriceModal').click(function (e) {
            e.preventDefault();
            var OrderId = $(this).attr("data-id");
            $('#modal-content').load('@Url.Action("ChangeDeliveryPrice", "OrderAdmin")?orderId=' + encodeURIComponent(OrderId));
        });

        var sortType = $('#sortType').attr("data-sortType");

        switch (sortType) {
            case "0":
                $('#sortType-0').attr("selected", "selected");
                break;
            case "1":
                $('#sortType-1').attr("selected", "selected");
                break;
            case "4":
                $('#sortType-4').attr("selected", "selected");
                break;
            case "5":
                $('#sortType-5').attr("selected", "selected");
                break;
        }
    </script>
}

